body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 1.3;
    margin: 0;
    padding: 0;
}

code {
    font-family: 'Courier New', Courier, monospace;
}

p {
    margin: 1.2em 0;  /* top and bottom */
}

ul, ol {
    margin: 0;
    padding: 0 0 0 1.5em;  /* left only */
}

li {
    margin: 0.4em 0;  /* top and bottom */
    padding: 0;
}
